<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <h1>Delete Completed Tasks</h1>
        
        <div>
                <img src = "spidey.png" width=550px, height=100px;>
                <div class="center">
                    <a href="/"> Home </a>
                    <a href="/newTask"> Add Task </a> 
                    <a href="listtask"> List Task </a>
                    <a href="/deletetask"> Delete Task by ID</a>
                    <a href="/taskstatus"> Task Status </a>
                </div>

<table>
    <tr>
        <td>Task ID</td>
        <td>Task Name</td>
        <td>Assign To</td>
        <td>Task DueDate</td>
        <td>Task Status</td>
        <td>Task Description</td>
        
    </tr>
    <% for ( var i =0; i< tasksDb.length;i++){ %>
        <tr>
            <td>
                        <%= tasksDb[i].taskId %>
                    </td>
            <td>
                <%= tasksDb[i].taskname %>
            </td>
            <td>
                    <%= tasksDb[i].taskassignto %>
                </td>
            <td>
                <%= tasksDb[i].taskduedate %>
            </td>
            <td>
                    <%= tasksDb[i].taskstatus %>
                </td>
            <td>
                <%= tasksDb[i].taskdescription %>
            </td>
        </tr>
        <% }%>
</table>
<% if (tasksDb.length==0){ %>
    <label style="color:blue">There are no completed tasks!!!</label>
    <% }%>
<br>
<form action = "deletecomptaskdata" method = "POST" id ="deletecompletedform">

<button type="submit" name="delete" form="deletecompletedform">Delete Completed Tasks </button></form>
</body>
</html>